@font-face {
  font-family: "iconfont"; /* Project id 4244061 */
  src: url('//at.alicdn.com/t/c/font_4244061_46eweegkx83.woff2?t=1704520794685') format('woff2'),
  url('//at.alicdn.com/t/c/font_4244061_46eweegkx83.woff?t=1704520794685') format('woff'),
  url('//at.alicdn.com/t/c/font_4244061_46eweegkx83.ttf?t=1704520794685') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuangjianmoxing:before {
  content: "\e6c3";
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-remove:before {
  content: "\e709";
}

.icon-edit:before {
  content: "\e6aa";
}

.icon-chakan:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-kefu:before {
  content: "\e741";
}

.icon-shouye1:before {
  content: "\e63c";
}

.icon-jinbi:before {
  content: "\eb19";
}

.icon-hongbao:before {
  content: "\e60a";
}

.icon-tuichu:before {
  content: "\e656";
}

.icon-elemo:before {
  content: "\fee2";
}

.icon-check-circle:before {
  content: "\e824";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-minus-circle:before {
  content: "\e780";
}

.icon-plus-circle:before {
  content: "\e822";
}

.icon-shoppingcart:before {
  content: "\e881";
}

.icon-caretdown:before {
  content: "\e6ba";
}

.icon-filter:before {
  content: "\e7eb";
}

.icon-shouye:before {
  content: "\e608";
}

.icon-wodexiao:before {
  content: "\e941";
}

.icon-dingdan-quanbudingdan:before {
  content: "\e626";
}

.icon-faxian:before {
  content: "\e799";
}

.icon-sousuo:before {
  content: "\e698";
}

.icon-weizhi:before {
  content: "\e6f8";
}
